@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display:wght@500&display=swap');

:root{
    --bg-color: #121212;
    --main-bg-color: linear-gradient(to left, #121212, #28292c, #3d4248, #515e65, #657b81);
    --button-color:  rgba(255,255,255,0.1);
    --title-color: #bbe2ee;
    --text-color: #ffff;
    --title-font-family: 'Playfair Display', serif;
    --text-font-family: 'Tahoma', sans-serif;;
    --text-font-size: 18px;
    --button-font-size: 20px;
    --title-font-size: 24px;
    --button-shadow: 
                    -webkit-box-shadow: 8px 7px 28px -8px rgba(101,110,110,1),
                    -moz-box-shadow: 8px 7px 28px -8px rgba(101,110,110,1),
                    box-shadow: 8px 7px 28px -8px rgba(101,110,110,1);
    --twinkle-time: 1s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100dvh;
    width: 100%;
    background-color: var(--bg-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10dvh;
    background-color: var(--bg-color);
}


.menu {
    display: flex;
    position: relative;
    width: 100%;
    margin-inline: 4em;
}

.menu__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 6em;
}

.menu__item {
    list-style: none;
}

.menu__link {
    margin-bottom: 2px;
    font: var(--text-font-size) var(--text-font-family);
    color: var(--text-color);
    text-decoration: none;
}

.menu__link:hover {
    border-bottom: 1px solid #fff;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__icons {
    display: none;
}

main {
    display: flex;
    height: 90dvh;
}

.main__bg {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    background-image: url(../images/ton618-1200.png);
    background-size: cover;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0.5;
    animation: twinkle linear infinite;
}

.star:nth-child(1) {
    top: calc(25% + 100px);
    left: calc(20% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(2) {
    top: calc(28% + 100px);
    left: calc(30% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(3) {
    top: calc(60% + 100px);
    left: calc(30% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(4) {
    top: calc(65% + 100px);
    left: calc(20% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(5) {
    top: calc(63.5% + 100px);
    left: calc(10% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(6) {
    top: calc(75% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(7) {
    top: calc(15% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(8) {
    top: calc(5% + 100px);
    left: calc(15% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(9) {
    top: calc(5% + 100px);
    left: calc(35% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(10) {
    top: calc(5% + 100px);
    left: calc(2.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

@keyframes twinkle {
    0% {
         opacity: 1; 
         transform: scale(1); 
        }
    25% { 
        opacity: 0.2; 
        transform: scale(0.8); 
    }
    50% { 
        opacity: 0.8; 
        transform: scale(1.2); 
    }
    75% { 
        opacity: 0.4; 
        transform: scale(0.9); 
    }
    100% { 
        opacity: 1; 
        transform: scale(1); 
    }
}

.shooting-star {
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 10px;
    border-radius: 2px;
    transform: rotate(45deg);
    animation: shoot 2s both infinite;
    animation-delay: 2s;
}

@keyframes shoot {
    0% { 
        opacity: 1; 
        top: 80px; 
        left: 90%; 
    }
    100% { 
        opacity: 0; 
        top: 70%; 
        left: -20px; 
    }
}

.main__content {
    display: flex;
    position: absolute;
    flex-flow: column wrap;
    align-items: flex-start;
    height: calc(100% - 80px);
    width: 40em;
    margin-left: 64px;
}

.content__title {
    width: 510px;
    padding-top: 64px;
    font: var(--title-font-size) var(--title-font-family);
    color: var(--text-color);
}

.content__title-strong {
    color: var(--title-color);
}

.content__text {
    display: flex;
    flex-wrap: wrap;
    padding-top: 18px;
    max-width: 660px;
    font: var(--text-font-size) var(--text-font-family);
    line-height: 1.3;
    word-spacing: 1px;
    color: var(--text-color);
}

.content__btn {
    padding: 10px;
    margin-top: 36px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.5s;
    background-color: var(--button-color);
    cursor: pointer;
}

.content__btn:hover {
    border: 1px solid white;
    background-color: transparent;
    box-shadow: 8px 7px 28px -8px rgba(101,110,110,1);
  }

.btn__link {
    font: var(--text-font-size) var(--text-font-family);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
}

.main__sc-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 90%;
    left: calc(50% - 50px);
    height: 50px;
    width: 100px;
    font-size: 25px;
}

.fa {
    text-decoration: none;
    color: black;
    transition: scale 1s ease-in-out;
}

.fa:hover {
    transform: scale(1.2);
}