@charset "UTF-8";

:root {
    --desktop-width: 100vw;
    --desktop-height: 100vh;
    --star-position: 4.1em;
    --underline-width: 4.3em;
    --title-font-family: 'Playfair Display', serif;
    --menu-font-family: 'Tahoma', sans-serif;
    --title-font-size: 4em;
    --menu-font-size: 1.2em;
    --bg-color: #121212;
    --text-color: #ffff;
    --sun-base-color: linear-gradient(to right, #f58231, #e54a25);
    --box-shadow-color: #000;
    --twinkle-time: 1s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
}

/*----- Menu -----*/

header {
    display: flex;
    position: sticky;
    top: 0;
    height: 9dvh;
    width: 100%;
    background: var(--bg-color);
    z-index: 999;
}

.menu__checkbox,
.menu__lines {
    display: none;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10dvh;
    width: 100%;
}

.menu__logo {
    padding-inline: 2em;
    color: var(--text-color);
}

.menu__items {
    display: flex;
    align-items: center;
    padding-left: 2.5em;
    gap: 3.5em;
}

.menu__item {
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
}

.menu__item span {
    position: relative;
    left: -.6em;
    height: .1em;
    width: 0em;
    background: var(--text-color);
}

.menu__item:hover span {
    animation: underlinemove .25s linear forwards;
}

@keyframes underlinemove {
    to {
        width: var(--underline-width); 
    }
}

.dropdown {  
    display: none;
    position: absolute;
    padding-top: 2em;
    list-style: none;
}

.dropdown li a {
    padding: .15em;
    font: calc(var(--menu-font-size) - .1em) var(--menu-font-family);
    color: var(--text-color);
    text-decoration: none;
}

.menu__item:nth-child(2):hover .dropdown {
    display: flex;
    gap: 2em;
}

.dropdown li:hover {
    list-style: disc;
    color: var(--text-color);
}

.menu__link {
    width: 5em;
    font: var(--menu-font-size) var(--menu-font-family);
    color: var(--text-color);
    text-decoration: none; 
}

/* Star background */

.main__star-bg-1,
.main__star-bg-2,
.main__star-bg-3,
.main__star-bg-4,
.main__star-bg-5 {
    display: flex;
    position: absolute;
    height: 20%;
    width: 100%;
    z-index: -999;
}

.star {
    position: absolute;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0.5;
    animation: twinkle linear infinite;
}

/* ----- Background Star -01 ----- */

.main__star-bg-1 .star:nth-child(1) {
    top: calc(40% + var(--star-position));
    left: calc(15% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(2) {
    top: calc(28% + var(--star-position));
    left: calc(5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(3) {
    top: calc(10% + var(--star-position));
    left: calc(20% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(4) {
    top: calc(65% + var(--star-position));
    left: calc(20% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(5) {
    top: calc(63.5% + var(--star-position));
    left: calc(10% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(6) {
    top: calc(75% + var(--star-position));
    left: calc(-2% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(7) {
    top: calc(15% + var(--star-position));
    left: calc(25% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(8) {
    top: calc(10% + var(--star-position));
    left: calc(15% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(9) {
    top: calc(40% + var(--star-position));
    left: calc(7% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(10) {
    top: calc(5% + var(--star-position));
    left: calc(2.5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(11) {
    top: calc(70% + var(--star-position));
    left: calc(2% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(12) {
    top: calc(55% + var(--star-position));
    left: calc(4% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(13) {
    top: calc(70% + var(--star-position));
    left: calc(14% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(14) {
    top: calc(15% + var(--star-position));
    left: calc(-4% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(15) {
    top: calc(74.5% + var(--star-position));
    left: calc(25% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(16) {
    top: calc(55% + var(--star-position));
    left: calc(75% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(17) {
    top: calc(25% + var(--star-position));
    left: calc(-1% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(18) {
    top: calc(-5% + var(--star-position));
    left: calc(7% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(19) {
    top: calc(65% + var(--star-position));
    left: calc(25% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(20) {
    top: calc(1% + var(--star-position));
    left: calc(-1% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(21) {
    top: calc(40% + var(--star-position));
    left: calc(88% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(22) {
    top: calc(28% + var(--star-position));
    left: calc(70% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(23) {
    top: calc(76% + var(--star-position));
    left: calc(60% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(24) {
    top: calc(65% + var(--star-position));
    left: calc(74.5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(25) {
    top: calc(60.5% + var(--star-position));
    left: calc(92% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(26) {
    top: calc(75% + var(--star-position));
    left: calc(79% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(27) {
    top: calc(15% + var(--star-position));
    left: calc(65% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(28) {
    top: calc(5% + var(--star-position));
    left: calc(75% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(29) {
    top: calc(25% + var(--star-position));
    left: calc(75% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(30) {
    top: calc(5% + var(--star-position));
    left: calc(94.5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(31) {
    top: calc(70% + var(--star-position));
    left: calc(70% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(32) {
    top: calc(45% + var(--star-position));
    left: calc(73.2% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(33) {
    top: calc(50% + var(--star-position));
    left: calc(80% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(34) {
    top: calc(15% + var(--star-position));
    left: calc(78% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(35) {
    top: calc(57.5% + var(--star-position));
    left: calc(68% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(36) {
    top: calc(15% + var(--star-position));
    left: calc(90% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(37) {
    top: calc(-5% + var(--star-position));
    left: calc(60% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(38) {
    top: calc(2% + var(--star-position));
    left: calc(83% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-1 .star:nth-child(39) {
    top: calc(-7% + var(--star-position));
    left: calc(70% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-1 .star:nth-child(40) {
    top: calc(-8% + var(--star-position));
    left: calc(74.5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

/* ----- Background Star 02 ----- */

.main__star-bg-2 .star:nth-child(1) {
    top: calc(25% + 100px);
    left: calc(35% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(2) {
    top: calc(25% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(3) {
	top: calc(50% + var(--star-position));
	left: calc(10% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(4) {
    top: calc(28% + 100px);
    left: calc(45% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(5) {
    top: calc(45% + 100px);
    left: calc(41% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(6) {
    top: calc(35% + 100px);
    left: calc(-5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(7) {
    top: calc(63% + 100px);
    left: calc(14% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(8) {
    top: calc(37% + 100px);
    left: calc(48% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(9) {
    top: calc(35% + 100px);
    left: calc(37% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(10) {
    top: calc(40% + 100px);
    left: calc(90% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(11) {
    top: calc(45% + 100px);
    left: calc(33% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(12) {
    top: calc(25% + 100px);
    left: calc(85% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(13) {
    top: calc(82% + 100px);
    left: calc(10% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(14) {
    top: calc(-2% + 100px);
    left: calc(10% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(15) {
    top: calc(-5% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(16) {
	top: calc(55% + var(--star-position));
	left: calc(87% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(17) {
	top: calc(75% + var(--star-position));
	left: calc(80% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(18) {
	top: calc(5% + var(--star-position));
	left: calc(70% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(19) {
	top: calc(62% + var(--star-position));
	left: calc(45% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(20) {
	top: calc(62% + var(--star-position));
	left: calc(5% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(21) {
    top: calc(10% + 100px);
    left: calc(20% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(22) {
    top: calc(10% + 100px);
    left: calc(10% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(23) {
    top: calc(15% + 100px);
    left: calc(-5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(24) {
    top: calc(75% + 100px);
    left: calc(64.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(25) {
    top: calc(80% + 100px);
    left: calc(60.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(26) {
    top: calc(80% + 100px);
    left: calc(.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(27) {
	top: calc(15% + var(--star-position));
	left: calc(70% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(28) {
    top: calc(5% + 100px);
    left: calc(35% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(29) {
    top: calc(-5% + 100px);
    left: calc(60% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(30) {
    top: calc(3% + 100px);
    left: calc(70.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(31) {
    top: calc(-10% + 100px);
    left: calc(30.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(32) {
    top: calc(60% + 100px);
    left: calc(60.2% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(33) {
    top: calc(24% + 100px);
    left: calc(60.2% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(34) {
    top: calc(18% + 100px);
    left: calc(58% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(35) {
    top: calc(70.5% + 100px);
    left: calc(25% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(36) {
    top: calc(65.5% + 100px);
    left: calc(35% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(37) {
    top: calc(20.5% + 100px);
    left: calc(40% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-2 .star:nth-child(38) {
    top: calc(2% + 100px);
    left: calc(2% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(39) {
    top: calc(-8% + 100px);
    left: calc(50% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-2 .star:nth-child(40) {
    top: calc(-8% + 100px);
    left: calc(64.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

/* ----- Background Star 03 ----- */

.main__star-bg-3 .star:nth-child(1) {
    top: calc(28% + 100px);
    left: calc(35% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(2) {
    top: calc(25% + 100px);
    left: calc(12% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(3) {
	top: calc(75% + var(--star-position));
	left: calc(30% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(4) {
    top: calc(3% + 100px);
    left: calc(20% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(5) {
    top: calc(62.5% + 100px);
    left: calc(2% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(6) {
    top: calc(78.5% + 100px);
    left: calc(12% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(7) {
    top: calc(82.5% + 100px);
    left: calc(72% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(8) {
    top: calc(8% + 100px);
    left: calc(65% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(9) {
	top: calc(20% + var(--star-position));
	left: calc(-2% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(10) {
    top: calc(36% + 100px);
    left: calc(2.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(11) {
	top: calc(52% + var(--star-position));
	left: calc(2% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(12) {
    top: calc(45% + 100px);
    left: calc(51% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(13) {
	top: calc(70% + var(--star-position));
	left: calc(55% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(14) {
	top: calc(15% + var(--star-position));
	left: calc(47% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(15) {
	top: calc(-5% + var(--star-position));
	left: calc(-4% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(16) {
    top: calc(55% + 100px);
    left: calc(40% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(17) {
    top: calc(28% + 100px);
    left: calc(-3% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(18) {
    top: calc(33% + 100px);
    left: calc(91% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(19) {
    top: calc(49% + 100px);
    left: calc(47% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(20) {
    top: calc(49% + 100px);
    left: calc(57% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(21) {
    top: calc(30% + 100px);
    left: calc(57% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(22) {
    top: calc(8% + 100px);
    left: calc(85% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(23) {
    top: calc(6% + 100px);
    left: calc(47% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(24) {
	top: calc(65% + var(--star-position));
	left: calc(89.5% + var(--star-position));
	animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(25) {
    top: calc(60.5% + 100px);
    left: calc(59% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(26) {
    top: calc(70.5% + 100px);
    left: calc(62% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(27) {
    top: calc(15% + 100px);
    left: calc(89% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(28) {
    top: calc(35% + 100px);
    left: calc(45% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(29) {
    top: calc(25% + 100px);
    left: calc(48% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(30) {
    top: calc(3% + 100px);
    left: calc(70.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(31) {
    top: calc(3% + 100px);
    left: calc(-1.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(32) {
    top: calc(83% + 100px);
    left: calc(45.2% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(33) {
    top: calc(81% + 100px);
    left: calc(58.2% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(34) {
    top: calc(82% + 100px);
    left: calc(20% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(35) {
    top: calc(80.5% + 100px);
    left: calc(37% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(36) {
    top: calc(82% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(37) {
    top: calc(8% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(38) {
    top: calc(-13% + 100px);
    left: calc(40% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-3 .star:nth-child(39) {
    top: calc(-6% + 100px);
    left: calc(70% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-3 .star:nth-child(40) {
    top: calc(-5% + 100px);
    left: calc(60.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

/* ----- Background Star 04 */
    
.main__star-bg-4 .star:nth-child(1) {
    top: calc(40% + var(--star-position));
    left: calc(40% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(2) {
    top: calc(28% + var(--star-position));
    left: calc(5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(3) {
    top: calc(50% + var(--star-position));
    left: calc(35% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(4) {
    top: calc(37% + var(--star-position));
    left: calc(10% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(5) {
    top: calc(75.5% + var(--star-position));
    left: calc(10% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(6) {
    top: calc(70% + var(--star-position));
    left: calc(33% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(7) {
    top: calc(33% + 100px);
    left: calc(33% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(8) {
    top: calc(37% + 100px);
    left: calc(83% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(9) {
    top: calc(32% + var(--star-position));
    left: calc(38% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(10) {
    top: calc(25% + 100px);
    left: calc(42% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(11) {
    top: calc(80% + 100px);
    left: calc(10% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(12) {
    top: calc(55% + var(--star-position));
    left: calc(88% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(13) {
    top: calc(12% + 100px);
    left: calc(20% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(14) {
    top: calc(15% + var(--star-position));
    left: calc(-4% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(15) {
    top: calc(55.5% + var(--star-position));
    left: calc(-2% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(16) {
    top: calc(55% + var(--star-position));
    left: calc(47% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(17) {
    top: calc(25% + var(--star-position));
    left: calc(75% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(18) {
    top: calc(-5% + var(--star-position));
    left: calc(18% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(19) {
    top: calc(65% + var(--star-position));
    left: calc(55% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(20) {
    top: calc(1% + var(--star-position));
    left: calc(-1% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(21) {
    top: calc(6% + var(--star-position));
    left: calc(18% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(22) {
    top: calc(18% + var(--star-position));
    left: calc(68% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(23) {
    top: calc(87% + var(--star-position));
    left: calc(40% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(24) {
    top: calc(62% + 100px);
    left: calc(64.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(25) {
    top: calc(80.5% + var(--star-position));
    left: calc(80% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(26) {
    top: calc(10% + var(--star-position));
    left: calc(40% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(27) {
    top: calc(-5% + var(--star-position));
    left: calc(60% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(28) {
    top: calc(5% + var(--star-position));
    left: calc(75% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(29) {
    top: calc(1% + var(--star-position));
    left: calc(67% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(30) {
    top: calc(5% + var(--star-position));
    left: calc(80.5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(31) {
    top: calc(75% + var(--star-position));
    left: calc(70% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(32) {
    top: calc(25% + var(--star-position));
    left: calc(57.2% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(33) {
    top: calc(20% + var(--star-position));
    left: calc(93% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(34) {
    top: calc(15% + var(--star-position));
    left: calc(78% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(35) {
    top: calc(70.5% + 100px);
    left: calc(-5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(36) {
    top: calc(65% + var(--star-position));
    left: calc(14% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(37) {
    top: calc(-5% + var(--star-position));
    left: calc(60% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(38) {
    top: calc(9% + 100px);
    left: calc(13% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-4 .star:nth-child(39) {
    top: calc(-7% + var(--star-position));
    left: calc(70% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-4 .star:nth-child(40) {
    top: calc(-8% + var(--star-position));
    left: calc(74.5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

/* ----- Background Star 05 */

.main__star-bg-5 .star:nth-child(1) {
    top: calc(40% + var(--star-position));
    left: calc(-5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(2) {
    top: calc(28% + var(--star-position));
    left: calc(48% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(3) {
    top: calc(1% + var(--star-position));
    left: calc(65% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(4) {
    top: calc(3% + 100px);
    left: calc(70% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(5) {
    top: calc(65.5% + var(--star-position));
    left: calc(-3% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(6) {
    top: calc(85% + var(--star-position));
    left: calc(30% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(7) {
    top: calc(15% + var(--star-position));
    left: calc(75% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(8) {
    top: calc(42% + 100px);
    left: calc(40% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(9) {
    top: calc(20% + var(--star-position));
    left: calc(35% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(10) {
    top: calc(2% + 100px);
    left: calc(-5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(11) {
    top: calc(32% + var(--star-position));
    left: calc(2% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(12) {
    top: calc(55% + var(--star-position));
    left: calc(57% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(13) {
    top: calc(75% + var(--star-position));
    left: calc(46% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(14) {
    top: calc(15% + var(--star-position));
    left: calc(40% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(15) {
    top: calc(79.5% + var(--star-position));
    left: calc(36% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(16) {
    top: calc(55% + var(--star-position));
    left: calc(45% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(17) {
    top: calc(25% + var(--star-position));
    left: calc(-1% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(18) {
    top: calc(2% + var(--star-position));
    left: calc(7% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(19) {
    top: calc(65% + var(--star-position));
    left: calc(55% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(20) {
    top: calc(10% + var(--star-position));
    left: calc(-1% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(21) {
    top: calc(14% + 0px);
    left: calc(57% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(22) {
    top: calc(28% + 100px);
    left: calc(5% + .5px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(23) {
    top: calc(80% + var(--star-position));
    left: calc(70% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(24) {
    top: calc(50% + var(--star-position));
    left: calc(65.5% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(25) {
    top: calc(60.5% + var(--star-position));
    left: calc(88% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(26) {
    top: calc(75% + var(--star-position));
    left: calc(79% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(27) {
    top: calc(35% + 100px);
    left: calc(40% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(28) {
    top: calc(25% + var(--star-position));
    left: calc(88% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(29) {
    top: calc(38% + var(--star-position));
    left: calc(68% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(30) {
    top: calc(3% + 100px);
    left: calc(88.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(31) {
    top: calc(70% + var(--star-position));
    left: calc(70% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(32) {
    top: calc(48% + 100px);
    left: calc(1% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(33) {
    top: calc(50% + var(--star-position));
    left: calc(-1% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(34) {
    top: calc(75% + 100px);
    left: calc(20% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(35) {
    top: calc(81% + 100px);
    left: calc(52% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(36) {
    top: calc(82% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(37) {
    top: calc(-1% + var(--star-position));
    left: calc(50% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(38) {
    top: calc(25% + var(--star-position));
    left: calc(57% + var(--star-position));
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.main__star-bg-5 .star:nth-child(39) {
    top: calc(-6% + 100px);
    left: calc(70% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.main__star-bg-5 .star:nth-child(40) {
    top: calc(-5% + 100px);
    left: calc(30.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

@keyframes twinkle {
    0% {
         opacity: 1; 
         transform: scale(1); 
        }
    25% { 
        opacity: 0.2; 
        transform: scale(0.8); 
    }
    50% { 
        opacity: 0.8; 
        transform: scale(1.2); 
    }
    75% { 
        opacity: 0.4; 
        transform: scale(0.9); 
    }
    100% { 
        opacity: 1; 
        transform: scale(1); 
    }
}

.shooting-star {
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 10px;
    border-radius: 2px;
    transform: rotate(45deg);
    animation: shoot 2s both infinite;
    animation-delay: 2s;
}

@keyframes shoot {
    0% { 
        opacity: 1; 
        top: 80px; 
        left: 90%; 
    }
    100% { 
        opacity: 0; 
        top: 70%; 
        left: -20px; 
    }
}

/* ----- Main content ----- */

main {
    transform-style: preserve-3d;
}

.container {
    position: relative;
    height: 100dvh;
    width: 100%;
}

.main__title h1 span {
    position: absolute;
    font: var(--title-font-size) var(--title-font-family);
    color: var(--text-color);
    text-shadow: 2px 2px 2px var(--box-shadow-color), -2px -5px 0 var(--box-shadow-color);
}

.main__title h1 span:first-child {
    top: 15%;
    left: 2%;
}

.main__title h1 span:last-child {
    top: 68%;
    left: 71%;
}

.main__astros,
.astros__jupiter div a {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
}

.main__astros {
    top: -5%;
    overflow: hidden;
}

.main__astros div {
    position: absolute;
    background-size: cover;
    border-radius: 50%;
    box-shadow: -10px -10px 20px 2px var(--box-shadow-color) inset, 0 0 20px 2px var(--box-shadow-color);
}

.astros__jupiter {
    position: relative;
    height: 36.5em;
    width: 36.5em;
    background: url(../images/jupiter-map.jpeg) repeat-x center center;
    animation: rotate 10s infinite linear;
}

.astros__jupiter div {
    left: var(--start-left-position);
    top: 42%;
    cursor: pointer;
    animation: rotate var(--rotate-time) infinite linear, orbit var(--orbit-time) infinite ease-in-out;
    z-index: var(--front-z-index);
}

.astros__io,
.astros__ganymede,
.astros__ganymede,
.astros__callisto {
    position: absolute;
}

.astros__io,
.astros__io a {
    height: 6em;
    width: 6em;
}

.astros__io {
    background: url(../images/io-map-600.jpg) repeat center center;
}


.astros__ganymede, 
.astros__ganymede a {
    height: 11em;
    width: 11em;
}

.astros__ganymede {
    background: url(../images/ganymede-map-600.jpg) repeat center center;
}

.astros__europa, 
.astros__europa a {
    height: 5em;
    width: 5em;
}

.astros__europa {
    background: url(../images/europa-map-600.jpg) repeat center center;
}

.astros__callisto, 
.astros__callisto a {
    height: 9em;
    width: 9em;
}

.astros__callisto {
    background: url(../images/callisto-map-600.jpg) repeat-x center center;
}

@keyframes rotate {
    to {
        background-position: -200% 0;
    }
}

@keyframes orbit {
    49% {
        z-index: var(--front-z-index);
    }
    50% {
        left: var(--end-left-position);
        z-index: var(--back-z-index);
    }
    99% {
        z-index: var(--back-z-index);
    }
    100% {
        left: var(--start-left-position);
        z-index: var(--front-z-index);
    }
}

/* ----- Media buttons/links ----- */

.main__sc-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 80%;
    left: calc(50% - 50px);
    height: 50px;
    width: var(--star-position);
    font-size: 25px;
}

.fa {
    text-decoration: none;
    color: black;
    transition: scale 1.4s ease-in-out;
}

.fa:hover {
    transform: scale(1.2);
    transition: all .3s ease;
}

/* ----- Line break section ----- */

.break-section-line {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.break-section-line hr {
    width: 80%;
}

/* ----- Moons positions ----- */

.io,
.ganymede,
.europa,
.callisto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100dvh;
    width: 100%;
}

/* ----- Moons 3D models ----- */

.io__model,
.ganymede__model,
.europa__model,
.callisto__model {
    position: relative;
    top: 1.2em;
    left: 5em;
    border-radius: 50%;
    box-shadow: -10px -10px 40px 6px var(--box-shadow-color) inset, 0 0 20px 2px var(--box-shadow-color);
    filter: drop-shadow(0px 60px 60px black);
    animation: rotate var(--rotate-time) infinite linear;
}

.io__model {
    height: 20em;
    width: 20em;
    background: url(../images/io-map-600.jpg) repeat center center;
}

.ganymede__model {
    height: 26em;
    width: 26em;
    background: url(../images/ganymede-map-600.jpg) repeat center center;
}

.europa__model,
.callisto__model {
    height: 18em;
    width: 18em;
}

.europa__model {
    background: url(../images/europa-map-600.jpg) repeat center center;
}

.callisto__model {
    background: url(../images/callisto-map-600.jpg) repeat center center;
}

/* ----- Moons contents ----- */

.io__content,
.ganymede__content,
.europa__content,
.callisto__content {
    display: flex;
    flex-direction: column;
    right: 1em;
    padding: 2em;
    width: 30em;
    border: .15em white solid;
    border-radius: 1em;
    text-align: justify;
    color: var(--text-color);
}

.io__content,
.europa__content {
    align-items: flex-end;
}

.ganymede__content,
.callisto__content {
    align-items: flex-start;
}

.io__title, 
.ganymede__title, 
.europa__title, 
.callisto__title {
    padding-bottom: .5em;
    font:  var(--title-font-size) var(--title-font-family);
}

.io__text, 
.ganymede__text, 
.europa__text, 
.callisto__text {
    font: var(--menu-font-size) sans-serif;
}