@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --desktop-height: 100vh;
    --desktop-width: 100vw;
    --underline-width: 4.3em;
    --background-color: #121212;
    --astros-neutral-color: #ffff;
    --astros-shadow-color: #000;
    --title-font-size: 9em;
    --astros-font-size: 16px;
    --menu-font-size: 1.2em;
    --astros-font: 'Playfair Display', serif;
    --menu-font-family: 'Tahoma', sans-serif;
    --twinkle-time: 1s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

/* ----- Menu ----- */

header {
    display: flex;
    position: absolute;
    top: 0;
    height: 9dvh;
    width: 100%;
    background: var(--background-color);
    z-index: 998;
}

.menu,
.menu__items,
.menu__item {
    display: flex;
    align-items: center;
}

.menu {
    justify-content: space-between;
    height: 10dvh;
    width: 100%;
}

.menu__logo {
    padding-inline: 2em;
    color: var(--astros-neutral-color);
}

.menu__items {
    padding-left: 2.5em;
    gap: 3.5em;
}

.menu__item {
    flex-direction: column;
    list-style: none;
    cursor: pointer;
}

.menu__item span {
    position: relative;
    left: -1.5em;
    height: .1em;
    width: 0em;
    background: var(--astros-neutral-color);
}

.menu__item:hover span {
animation: underlinemove .25s linear forwards;
}

@keyframes underlinemove {
    to {
        width: var(--underline-width); 
    }
}

.dropdown {  
    display: none;
    position: absolute;
    padding-top: 2em;
}

.dropdown li a {
    padding: .15em;
    font: calc(var(--menu-font-size) - .1em) var(--menu-font-family);
    color: var(--astros-neutral-color);
    text-decoration: none;
}

.menu__item:nth-child(2):hover .dropdown {
    display: flex;
    gap: 2em;
}

.dropdown li:hover {
    list-style: disc;
    color: var(--astros-neutral-color);
}

.menu__link {
    width: 100px;
    font: var(--menu-font-size) var(--menu-font-family);
    color: var(--astros-neutral-color);
    text-decoration: none; 
}

.container,
.main__star-bg,
.font-9em,
.jupiter-orbit {
    display: flex;
    position: absolute;
    height: var(--desktop-height);
    width: var(--desktop-width);
}

.container {
    align-items: space;
    justify-content: center;
    bottom: 0%;
    background: var(--background-color);
    z-index: 997;
}

.menu__checkbox,
.menu__lines {
    display: none;
}

/* ----- Star Background ----- */

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--astros-neutral-color);
    opacity: 0.5;
    animation: twinkle linear infinite;
}

.star:nth-child(1) {
    top: calc(40% + 100px);
    left: calc(37% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(2) {
    top: calc(28% + 100px);
    left: calc(15% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(3) {
    top: calc(80% + 100px);
    left: calc(30% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(4) {
    top: calc(65% + 100px);
    left: calc(20% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(5) {
    top: calc(63.5% + 100px);
    left: calc(10% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(6) {
    top: calc(75% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(7) {
    top: calc(15% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(8) {
    top: calc(5% + 100px);
    left: calc(15% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(9) {
    top: calc(25% + 100px);
    left: calc(7% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(10) {
    top: calc(5% + 100px);
    left: calc(2.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(11) {
    top: calc(70% + 100px);
    left: calc(2% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(12) {
    top: calc(45% + 100px);
    left: calc(11% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(13) {
    top: calc(70% + 100px);
    left: calc(14% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(14) {
    top: calc(15% + 100px);
    left: calc(-4% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(15) {
    top: calc(50.5% + 100px);
    left: calc(-2% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(16) {
    top: calc(55% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(17) {
    top: calc(29% + 100px);
    left: calc(-1% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(18) {
    top: calc(-5% + 100px);
    left: calc(7% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(19) {
    top: calc(55% + 100px);
    left: calc(15% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(20) {
    top: calc(1% + 100px);
    left: calc(-1% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(21) {
    top: calc(25% + 100px);
    left: calc(54% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(22) {
    top: calc(28% + 100px);
    left: calc(90% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(23) {
    top: calc(80% + 100px);
    left: calc(70% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(24) {
    top: calc(65% + 100px);
    left: calc(74.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(25) {
    top: calc(60.5% + 100px);
    left: calc(80% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(26) {
    top: calc(75% + 100px);
    left: calc(79% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(27) {
    top: calc(15% + 100px);
    left: calc(70% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(28) {
    top: calc(5% + 100px);
    left: calc(75% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(29) {
    top: calc(25% + 100px);
    left: calc(83% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(30) {
    top: calc(5% + 100px);
    left: calc(81.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(31) {
    top: calc(70% + 100px);
    left: calc(85% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(32) {
    top: calc(45% + 100px);
    left: calc(77.2% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(33) {
    top: calc(50% + 100px);
    left: calc(89% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(34) {
    top: calc(15% + 100px);
    left: calc(78% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(35) {
    top: calc(50.5% + 100px);
    left: calc(68% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(36) {
    top: calc(55% + 100px);
    left: calc(5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(37) {
    top: calc(-5% + 100px);
    left: calc(60% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(38) {
    top: calc(2% + 100px);
    left: calc(70% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(39) {
    top: calc(-7% + 100px);
    left: calc(90% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(40) {
    top: calc(-8% + 100px);
    left: calc(74.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(41) {
    top: calc(-8% + 100px);
    left: calc(45.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(42) {
    top: calc(8% + 100px);
    left: calc(35.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(43) {
    top: calc(60% + 100px);
    left: calc(35.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(44) {
    top: calc(65% + 100px);
    left: calc(55.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.2s);
}

.star:nth-child(45) {
    top: calc(15% + 100px);
    left: calc(55.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

.star:nth-child(46) {
    top: calc(5% + 100px);
    left: calc(45.5% + 100px);
    animation-duration: calc(var(--twinkle-time) + 0.5s);
}

@keyframes twinkle {
    0% {
         opacity: 1; 
         transform: scale(1); 
        }
    25% { 
        opacity: 0.2; 
        transform: scale(0.8); 
    }
    50% { 
        opacity: 0.8; 
        transform: scale(1.2); 
    }
    75% { 
        opacity: 0.4; 
        transform: scale(0.9); 
    }
    100% { 
        opacity: 1; 
        transform: scale(1); 
    }
}

.shooting-star {
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 10px;
    border-radius: 2px;
    transform: rotate(45deg);
    animation: shoot 2s both infinite;
    animation-delay: 2s;
}

@keyframes shoot {
    0% { 
        opacity: 1; 
        top: 80px; 
        left: 90%; 
    }
    100% { 
        opacity: 0; 
        top: 70%; 
        left: -20px; 
    }
}

/* ----- Content Title ----- */

.font-9em {
    align-items: center;
    justify-content: center;
    font: bold var(--title-font-size) var(--astros-font);
    color: var(--astros-neutral-color);
    text-shadow: 2px 2px 2px black, -2px -5px 0 black;
}

.title-1 {
    padding-right: 1.8em;
}

/* ----- Orbit ------ */

.jupiter-orbit {
    align-items: center;
    justify-content: center;
    left: 3%;
}

.jupiter-orbit div {
    position: absolute;
    border-radius: 50%;
    background-size: cover;
}

.jupiter, 
.io-orbit, 
.io, 
.europa-orbit,
.europa, 
.ganymede-orbit,
.ganymede, 
.callisto-orbit,
.callisto {
    animation: rotate var(--rotate-time) linear infinite;
}

.jupiter {
    height: 200px;
    width: 200px;
    background: url(../images/jupiter-south-pole-300.png) center center;
    box-shadow: -10px -10px 20px 2px var(--astros-shadow-color) inset, 0 0 20px 2px var(--astros-shadow-color);
}
.w-shadow {
   filter: drop-shadow(-1px -3px 1px var(--astros-shadow-color));
}

.border-4px {
    outline: 2px solid var(--astros-neutral-color);
    border: solid var(--astros-shadow-color) 4px;
}

.outline-1,
.io-orbit {
    height: 300px;
    width: 300px;
}

.outline-2,
.europa-orbit {
    height: 400px;
    width: 400px;
}

.outline-3,
.ganymede-orbit {
    height: 500px;
    width: 500px;
    z-index: 998    ;
}

.outline-4,
.callisto-orbit {
    height: 600px;
    width: 600px;
    z-index: 998;
}

.font-16px {
    position: absolute;
    height: 20px;
    font: bold var(--astros-font-size) var(--astros-font);
    text-align: center;
    text-decoration: none;
    color: var(--background-color);
    letter-spacing: 2px;
    background: var(--astros-neutral-color);
    border-radius: 20%;
    cursor: pointer;
    z-index: 999;
}

.font-16px:hover {
    transform: scale(1.2);
    transition: all .3s ease;
}

.text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.text-1 {
    width: 30px;
}

.container-1 {
    height: 310px;
    width: 310px;
}

.text-2 {
    width: 75px;
}

.container-2 {
    height: 410px;
    width: 410px;
}

.text-3 {
    width: 100px;
}

.container-3 {
    height: 510px;
    width: 510px;
}

.text-4 {
    width: 75px;
}

.container-4 {
    height: 610px;
    width: 610px;
}

.io {
    left: 20%;
    height: 40px;
    width: 40px;
    background: url(../images/io-south-pole-300.png) center center;
}

.europa {
    left: 25%;
    height: 35px;
    width: 35px;
    background: url(../images/europa-south-pole-300.png) center center;
}

.ganymede {
    left: 20%;
    height: 60px;
    width: 60px;
    background: url(../images/ganymede-south-pole-300.png) center center;
}

.callisto {
    left: 23.5%;
    height: 56px;
    width: 58px;
    background: url(../images/callisto-south-pole-300.png) center center;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}